<section class="section">
  <div class="container">
    <h1 class="title">
      Makecloud - Show Run {{ item.guid }}
    </h1>
    <div class="container" id="run-display">
      <script src="/assets/viz.js"></script>
      <script src="/assets/full.render.js"></script>
      <script>

      var viz = new Viz();

      viz.renderSVGElement('digraph {
      {%- for item in nodes -%}\
      "{{ item }}";\
      {% endfor -%}
      {%- for item in edges -%}\
      "{{ item.src }}" -> "{{ item.dst }}";\
      {% endfor -%}}')
        .then(function(element) {
        document.getElementById("run-display").appendChild(element);
      });

      </script>
    </div>
    {%- for item in stages -%}
    <div class="content columns">
      <div class="column">
        <h3 class="need_to_be_rendered" datetime="{{ item.time }}"></h3>
      </div>
      <div class="column is-two-thirds">
        <h3>{{ item.node_name }}</h3>
      </div>
      <div class="column">
        <h3>{{ item.state }} </h3>
      </div>
    </div>
    {% endfor -%}
  </div>
</section>
